.page-link{
    color: white !important;
    border-radius: 25%;
    background-color: rgb(1, 193, 193) !important;
    border: none!important;
}

.page-item:first-child .page-link {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.page-item:last-child .page-link {
    border-top-right-radius:50% ;
    border-bottom-right-radius:50% ;
}