.project-catalogbar{
    
    border-color: #4F1787 !important;
    /* border-color: #00b7c7 !important; */
    /* color:#00b7c7 !important; */
    color:#4F1787 !important;
    
}
.project-catalogbar .nav-link{
    color: #4F1787 !important;
    /* color: #00b7c7 !important; */
    font-weight: 500;
}
