.card-img-top{
    width:180px;
     height: 150px; 
    border-radius: 5px;
    
    
}
.project-link{
    color: #FB773C;
    /* color: #00b7c7; */
}
.card-title{
    color: #180161;
}
.card-text{

}
.card-info{
    
}